body {
  text-align: center;
  background-color: black;
  color: white;
  padding: 5vmin;
}

.Board {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: 1px 1px;
  /* TBD fix hardcoded dims */
  padding: 2vmin;
}

.Cell {
  font-size: 1.5vmin;
  min-height: 5vmin;
  min-width: 5vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  background-color: white;
  color: black;
}